.checkout{
    display: flex;
    padding: 20px;
    height: max-content;
    justify-content: space-between;
}

.checkout__title{
    margin-right: 10px;
    padding: 10px;
}

.checkout__banner{
    width:100%;
    height: 50%;
    margin-bottom: 10px;
}

.checkout__subtotal{
    margin-left: 10px;
    padding: 10px;
}
