.payment {
  background-color: rgb(252, 233, 198);
  /* height: 100%; */
  padding: 0 3rem;
}

.payment__container > h2 {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  background-color: rgb(248, 236, 215);
  border-bottom: 1px solid lightgray;
}

.payment__container > h2 a {
  text-decoration: none;
  color: rgb(85, 85, 85);
}

.payment__addressSection,
.payment__paymentSection,
.payment__reviewSection {
  display: flex;
  padding: 20px;
  margin: 0 20px;
  border-bottom: 3px dotted rgb(244, 216, 124);
}

/* .payment__title {
    flex: 0.2;
}

.payment__address {
    flex: 0.8;
}

.payment__items{
    flex: 0.1;
}

.payment__details{
    flex: 0.8;
} */

.payment__title {
  flex: 0.2;
}
.payment__address,
.payment__items,
.payment__details {
  flex: 2;
}

body {
  background-color: rgb(252, 233, 198);
}

.payment__size {
  margin-top: 25px;
}
