.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: rgba(246, 195, 129, 0.6);
    border-radius: 15px;
    z-index: 1;

}

.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 25px;
}

.product__rating{
    display: flex;
    margin-bottom: 5px;
}

.product > button{
    background-color: rgb(202, 159, 103);
    position: sticky;
    border: 3px solid;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    border-color:  #9c7e32;
    font-size: 1.1rem;
}

.product__price{
    justify-content: right;
    margin-top: 5px;
    font-size: 1.6rem;
}
.product__info{
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    font-size: 1.2rem;
}

