/* .uploading {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
} */

/* img {
  width: 300px;
  margin: 10px;
} */

/* .container {
    height: 100vh;
  
    background-color: rgb(252, 233, 198);
  }
  
  .home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -100px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
   */
